
<section class="edit_book">
    <form action="/books/<%= book_item['id'] %>" method="POST">
    <input type="hidden" name="_method" value="patch">

        <h1>Edit book</h1>

        <label for="">Title: </label>
        <input type="text" name="title" value=" <%= book_item['title']%>">

        <label for="">Author: </label>
        <input type="text" name="author" value=" <%= book_item['author'] %> ">

        <label for="">Category: </label>
        <input type="text" name="category" value=" <%= book_item['category'] %> ">

        <label for="">Genre: </label>
        <input type="text" name="genre" value=" <%= book_item['genre'] %> ">

        <label for="">About: </label>
        <input type="text" name="about" value=" <%= book_item['about'] %> ">

        <label for="">Image URL: </label>
        <input type="text" name="image_url" value=" <%= book_item['image_url'] %> ">

        <button type="submit" value="submit">Update book</button>
    </form>
</section>